body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    margin: auto;
    width: 30%;
}

.data {
    padding: 16px;
}    

.image {
    text-align:center ;
    margin: 24px 0 12px 0;
    position: center;
}

.avatar {
    max-width: 30%;
}   

.data {
    padding: 16px;
    }

input {
width: 80%;
padding: 7px 5px;
margin: 8px 0 13px 0;
display: block;
border: 1px solid #ccc;
box-sizing: border-box;
}

.action {
    text-align: center;
    padding: 10px;
}

button {
    background-color: #ff0000;
    border: none;
    color: rgb(255, 255, 255);
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    }